<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <system.diagnostics>
    <trace autoflush="true">
      <listeners>
        <add name="textListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="trace.log" />
        <add name="consoleListener" type="System.Diagnostics.ConsoleTraceListener" />
        <remove name="Default" />
      </listeners>
    </trace>
  </system.diagnostics>
  <appSettings>
    <add key="Password" value="" />
    <add key="Rs232Port" value="" />
    <add key="NetListFile" value="" />
    <add key="RetryTimePeriod" value="1000" />
    <add key="CommandWaitTime" value="100" />
    <add key="TestFailCount" value="0" />
    <add key="TestSuccessCount" value="0" />
    <add key="TestMachine" value="1" />
    <add key="CustomerName" value="" />
    <add key="ProductName" value="" />
    <add key="OrderNo" value="" />
    <add key="Operator" value="" />
    <add key="Validator" value="" />
    <add key="Goods" value="" />
    <add key="LineBody" value="" />
    <add key="ConductingTime" value="0" />
    <add key="ProductRev" value="" />
    <add key="PrinterName" value="" />
    <add key="DtpDate" value="" />
    <add key="PrinterActive" value="0" />
    <add key="TestTotal" value="0" />
    <add key="PrinterPaperWidth" value="80" />
    <add key="PrinterPaperHeight" value="25" />
    <add key="PrinterPaperStartX" value="5" />
    <add key="PrinterPaperStartY" value="3" />
    <add key="PrinterPaperFont1" value="Arial Narrow,6,Bold" />
    <add key="PrinterPaperFont2" value="Arial Narrow,8,Bold" />
    <add key="PrinterPaperFont3" value="Arial Narrow,5,Regular" />
    <add key="DataMatrixFont1" value="Arial Narrow,6,Regular" />
    <add key="DataMatrixFont2" value="Arial Narrow,8,Bold" />
    <add key="LeftDataMatrixCodeInfo0" value="6x6mm,79,37,23" />
    <add key="LeftDataMatrixCodeInfo1" value="7x7mm,79,35,27" />
    <add key="LeftDataMatrixCodeInfo2" value="8x8mm,79,33,31" />
    <add key="LeftDataMatrixCodeInfo3" value="9x9mm,79,31,35" />
    <add key="LeftDataMatrixCodeInfo4" value="10x10mm,79,30,39" />
    <add key="LeftDataMatrixCodeInfo5" value="11x11mm,79,28,43" />
    <add key="LeftDataMatrixCodeInfo6" value="12x12mm,79,26,47" />
    <add key="LeftDataMatrixWordBottom" value="73,28" />
    <add key="LeftDataMatrixWordSerialNo" value="76,73" />
    <add key="RightDataMatrixCodeInfo0" value="6x6mm,242,37,23" />
    <add key="RightDataMatrixCodeInfo1" value="7x7mm,242,35,27" />
    <add key="RightDataMatrixCodeInfo2" value="8x8mm,242,33,31" />
    <add key="RightDataMatrixCodeInfo3" value="9x9mm,242,31,35" />
    <add key="RightDataMatrixCodeInfo4" value="10x10mm,242,30,39" />
    <add key="RightDataMatrixCodeInfo5" value="11x11mm,242,28,43" />
    <add key="RightDataMatrixCodeInfo6" value="12x12mm,242,26,47" />
    <add key="RightDataMatrixWordInfo0" value="269,16,429,98" />
    <add key="RightDataMatrixWordInfo1" value="273,16,429,98" />
    <add key="RightDataMatrixWordInfo2" value="277,16,429,98" />
    <add key="RightDataMatrixWordInfo3" value="281,16,429,98" />
    <add key="RightDataMatrixWordInfo4" value="285,16,429,98" />
    <add key="RightDataMatrixWordInfo5" value="289,16,429,98" />
    <add key="RightDataMatrixWordInfo6" value="293,16,429,98" />
    <add key="RightDataMatrixWordShift" value="10,14" />
    <add key="QRCodeActive" value="1" />
    <add key="QRCodeInfo0" value="6x6mm,267,10,31" />
    <add key="QRCodeInfo1" value="7x7mm,261,10,36" />
    <add key="QRCodeInfo2" value="8x8mm,254,10,41" />
    <add key="QRCodeInfo3" value="9x9mm,248,10,47" />
    <add key="QRCodeInfo4" value="10x10mm,242,10,52" />
    <add key="QRCodeInfo5" value="11x11mm,236,10,57" />
    <add key="QRCodeInfo6" value="12x12mm,230,10,62" />
    <add key="LabelTitle" value="" />
    <add key="LabelProduct" value="" />
    <add key="LabelRevision" value="" />
    <add key="LabelManufacturerCode" value="" />
    <add key="LabelPlantCode" value="0" />
    <add key="LabelQRCodeSize" value="2" />
    <add key="LabelPart" value="" />
    <add key="LabelPlantVendor" value="" />
    <add key="LabelTestedBy" value="" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="LoadFileSwitch" value="false" />
    <add key="LabelSwitch" value="0" />
    <add key="ExpiredDate" value="y2qgf3ek60kv3GWyh2lXeA==" />
    <add key="LabelSwitch" value="0" />
    <add key="Version" value="BZ-V2.2" />
    <add key="FileOutputDir" value="C:\Temp"/>
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <entityFramework>
    <defaultConnectionFactory type="FirebirdSql.Data.EntityFramework6.FbConnectionFactory, EntityFramework.Firebird" />
    <providers>
      <provider invariantName="System.Data.SQLite.EF6" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6" />
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <bindingRedirect oldVersion="0.0.0.0-4.5.0.0" newVersion="4.5.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite" />
      <add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".NET Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" />
    </DbProviderFactories>
  </system.data>
</configuration>
